:root {
    --main: #756dff;
    --secondary: #c9c9c9;
    --gray: #666;
    --text: #383847;
    --background: #fff;
}

:root.dark-mode {
    --main: #756dff;
    --secondary: #fff;
    --gray: #c9c9c9;
    --text: #fff;
    --background: #383847;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main: #756dff;
        --secondary: #fff;
        --gray: #c9c9c9;
        --text: #fff;
        --background: #383847;
    }

    :root.light-mode {
        --main: #756dff;
        --secondary: #c9c9c9;
        --gray: #666;
        --text: #383847;
        --background: #fff;
    }
}

body {
    background-color: var(--background);
    font-size: 26px;
    font-family: system-ui;
    padding: 10%;
    color: var(--text);
    transition: background-color 0.35s ease;
}

a:link {
    color: var(--main);
    text-decoration: unset;
}

a:visited {
    color: var(--main);
}

a:hover {
    background-color: var(--secondary);
}

h4 {
    margin-bottom: 0.4em;
}

@media screen and (max-width: 600px) {
    img {
        width: 160px;
        height: 160px;
    }
}

@media screen and (min-width: 600px) {
    img {
        width: 190px;
        height: 190px;
    }
}

.date {
    margin-top: 0px;
    color: var(--gray);
}
